[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.20"
optimizer = true
optimizer_runs = 200
via_ir = true

[rpc_endpoints]
mantle_testnet = "${MANTLE_TESTNET_RPC_URL}"
mantle_mainnet = "${MANTLE_MAINNET_RPC_URL}"

[etherscan]
mantle_testnet = { key = "${MANTLESCAN_API_KEY}", url = "https://explorer.testnet.mantle.xyz/api" }
mantle_mainnet = { key = "${MANTLESCAN_API_KEY}" }

# See more config options https://github.com/foundry-rs/foundry/tree/master/config